@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
.gamezone{
    font-family: 'Freckle Face', cursive;
    color: white;
}
.gamezonem {
    font-family: 'Freckle Face', cursive;
    color: black;
}