<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_login.css">
    <title>Document</title>
</head>

<body>
    <div style="width: 100vh;">
        <div class="login-box">
            <p>OTP varification</p>
            <form action="/userotp" method="post">
                <div class="user-box"><
                    <% if(typeof otperr !== "undefined"){ %>
                        <label for="" style="color: red;"><%= otperr %></label>
                    <% } %>
                    <input required="" name="otp" type="text">
                    <label>Enter the otp</label>
                </div>

                <button class="admin_login_btn" type="submit">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                    </a>
                </button>
            </form>
        </div>
    </div>
</body>

</html>