<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>

    <section class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2">Name</th>
                                    <th class="column-3">Price</th>
                                    <th class="column-5">Action</th>
                                </tr>

                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <img src="/product_images/" alt="IMG">
                                        </div>
                                    </td>
                                    <td class="column-2">
                                        <span>hai</span>
                                    </td>
                                    <td class="column-3">
                                        Rs:
                                    </td>
                                    <td class="column-5">
                                        <div class="p-1">
                                            <button class="btn btn-danger">
                                                <a href="/cart-remove" style="color: white;">Remove</a>
                                            </button>
                                        </div>
                                        <div class="p-1">
                                            <button class="btn btn-success">
                                                <a href="/cart-remove" style="color: white;">Add to cart</a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include("../layout/user/user_footer.ejs") %>