<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/admin/adminhome">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/salesreport">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Sale Report</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/viewproducts">
                <!-- <i class="bi bi-grid"></i> -->
                <span>View Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/addproducts">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Add Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/category">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Category</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/vieweorders">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/allusers">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/viewcoupon">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Coupon</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/banner">
                <!-- <i class="bi bi-grid"></i> -->
                <span>Add Banner</span>
            </a>
        </li>
    </ul>

</aside>
<!-- End Sidebar-->