<!-- Header -->
<header class="header-v3">
    <!-- Header desktop -->
    <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop p-l-45">

                <!-- Logo desktop -->
                <a href="#" class="logo" style="pointer-events: none;">
                    <!-- <img src="/user_assets/images/icons/logo-02.png" alt="IMG-LOGO"> -->
                    <h3 class="gamezone">Gamezone</h3>
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="/">Home</a>
                        </li>

                        <li>
                            <a href="/products">Product</a>
                        </li>

                        <li>
                            <a href="/wishlist">Wishlist</a>
                        </li>
                        <% if (typeof user !== 'undefined') { %>

                            <li>
                                <a style="pointer-events: none;"><%= user.firstName %></a>
                                <ul class="sub-menu">
                                    <li><a href="/userprofile">My Account</a></li>
                                    <li><a href="/userlogout">Logout</a></li>
                                </ul>
                            </li>
                            
                        <% }else{ %>

                            <li>
                                <a style="pointer-events: none;">
                                    User
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/userprofile">My Account</a></li>
                                    <li><a href="/userlogin">Login</a></li>
                                </ul>
                            </li>

                        <% } %>
                        
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m h-full">
                    <div class="flex-c-m h-full p-r-25 bor6">
                        <div class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11 icon-header-noti"
                            data-notify="2">
                            <a href="/cart">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </a>  
                        </div>
                    </div>

                    <!-- <div class="flex-c-m h-full p-lr-19">
                            <div class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
                                <i class="zmdi zmdi-menu"></i>
                            </div>
                        </div> -->
                </div>
            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <!-- <a href="index.html"><img src="/user_assets/images/icons/logo-01.png" alt="IMG-LOGO"></a> -->
            <a href="#" class="logo" style="pointer-events: none;">
                <h3 class="gamezonem">Gamezone</h3>
            </a>
        </div>


        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
            <div class="flex-c-m h-full p-r-5">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti "
                    data-notify="2">
                    <a href="/cart">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="main-menu-m">
            <li>
                <a href="/">Home</a>
                <!-- <span class="arrow-main-menu-m">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span> -->
            </li>

            <li>
                <a href="/products">Product</a>
            </li>

            <li>
                <a href="wishlist">Wishlist</a>
            </li>

            <li>
                <a href="blog.html">Profile</a>
            </li>
            <% if (typeof user !=='undefined' ) { %>
                
                <li>
                    <a href="/userlogout">Logout</a>
                </li>

                <% }else{ %>

                    <li>
                        <a href="/userlogin">Login</a>
                    </li>

                <% } %>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <button class="flex-c-m btn-hide-modal-search trans-04">
            <i class="zmdi zmdi-close"></i>
        </button>

        <form class="container-search-header">
            <div class="wrap-search-header">
                <input class="plh0" type="text" name="search" placeholder="Search...">

                <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </div>
        </form>
    </div>
</header>